html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/defbodybg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.intro-container {
    position: relative;
    margin-top: 25;
    margin-bottom: 100;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 550px;
}

.portfolio-intro-emil{
    position: absolute;
    top: 50;
    right: 0;

    width: 600px;
    padding: 50px 100px 100px;

    font-family: 'Segoe UI';
    text-align: right;
    font-size: large;

    height: 50px;
    color: lightgray;
}

.portfolio-intro-james{
    position: absolute;
    top: 120;
    left: 0;

    width: 600px;
    padding: 50px 100px 100px;

    font-family: 'Segoe UI';
    text-align: left;
    font-size: large;

    height: 200px;
    color: lightgray;
}

.portfolio-intro-emil img{
    height: 200px;
    width: fit-content;
    float: right;
    border-radius: 40%;
}

.portfolio-intro-james img{
    height: 200px;
    width: fit-content;
    float: left;
    border-radius: 40%;
}

.intro-text {
    position: absolute;
    top: 250;
    left: 35%;

    color: lightslategray;
    width: 40%;
    font-family: 'Courier New';
}

.body-container {
    position: relative;
    margin: auto;
    max-width: 90%;
    height: auto;
    padding-top: 75px;
}

.description {
    background-color: rgba(0,0,0, 0.2);
    padding: 25px;
    overflow: auto;

    text-align: right;
    font-size: x-large;
    
    color: lightslategray;
    font-family: 'Courier New';
}

.description a {
    text-decoration: none;
    text-align: right;
    font-size: large;
    padding: 25px;
    color: lightslategray;
    font-family: 'Courier New';
}

.description::after {
    content: "";
    clear: both;
    display: table;
}

img {
    display: block;
    width: 500px;
    height: auto;
    float: right;
    padding: 25px;
}

.navbar {
    position: fixed;
    top: 0;
    width: max-content;
}

.wrapper {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.wrapper a {
    background-color: rgba(0,0,0, 0.8);
    float: left;
    display: block;
    padding: 14px 16px;

    color: azure;
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
    width: 70px;
    transition: .5s;
}

.wrapper a:hover {
    background: #ddd;
    color: black;
    transform: translate(20%);
}

.menu-item {
    transform-origin: 0 0;
    transform: translateX(-100px);
    opacity: 0;
  
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.wrapper:is(:hover, :focus) .menu-item {
    transform: translateX(0);
    opacity: 100%;
}

.wrapper .menu-item:nth-of-type(1) {
    transition-delay: 0ms;
}

.wrapper .menu-item:nth-of-type(2) {
    transition-delay: 50ms;
}

.wrapper .menu-item:nth-of-type(3) {
    transition-delay: 100ms;
}

.activities {
    display: block;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 50px;

    width: 75%;
    height: max-content;

    margin: auto;
    align-items: center;
}

.activities ul {
    font-size: large;
    color: lightslategrey;
}

.activities h1{
    font-family: 'Courier New';
    color: rgb(103, 133, 163);
}

.activities h3{
    font-family: 'Courier New';
    color: rgb(103, 133, 163);
}

.activities a {
    text-decoration: none;
    color: lightslategray;
}

.activities a:hover {
    text-decoration: underline;
    color: azure;
}

.activities p {
    color: lightslategray;
    font-family: 'Segoe UI';
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    padding: 15px;
}

.grid-item {
    text-align: center;
    grid-template-columns: min-content;
    grid-template-rows: 25px;
}

.contact-us {
    height: 120px;
    margin-top: 100px;
    background-color: rgba(8, 12, 17, 1);
}

.contact-us h1 {
    font-size: large;
    color: #ddd;
    font-family: 'Segoe UI';
}

.contact-us a {
    font-size: medium;
    color: lightslategrey;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.contact-us a:hover {
    text-decoration: underline;
}

.cu-text {
    height: 2;
    width: max-content;
    margin: auto;

    color: lightslategray;
}